.mobile-menu-btn {
  position: absolute;
  right: 0;
  top: 28px;
  border: none;
  background-color: transparent;
  display: none;

  @media (max-width: 576px) {
    display: block;
  }
}

.mobile-nav-active {
  @media (max-width: 576px) {
    visibility: visible !important;
  }
}

.sticky {
  @media (max-width: 576px) {
    position: fixed !important;
    background-color: white;
    z-index: 9;
    top: 0;

    .mobile-menu-btn {
      right: 30px;
    }
  }
}
