.box-container {
  display: flex;
  justify-content: center;
  position: relative;

  @media (max-width: 576px) {
    display: block;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .item-img {
    margin-right: 15px;
    width: 400px;
    height: 400px;

    @media (max-width: 767px) {
      width: 100%;
      height: 500px;
    }
  }
}

.counter-item {
  display: flex;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  p {
    font-size: 14px;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
}

.filter-item-fav-icon {
  position: absolute;
  display: block;
  top: 2px;
  margin-left: -43px;
  cursor: pointer;

  @media (max-width: 767px) {
    right: 20px;
    top: 20px;
  }
}
